@import "bootstrap-sprockets";
@import 'bootstrap-custom';
@import "materialize/components/color";
$primary-color: color("brown", "darken-4") !default;
@import 'materialize';

.field_with_errors { display: inline-block; }

#error_explanation > ul > li { padding-top: 10px;}

$desktop: 600px;


$subheaderHeightMobile: 200px;
$subheaderHeightDesktop: 300px;

.container {
  padding-top: 50px;
  padding-bottom: 50px;
  table tr td:last-child {
    text-align: right;
  }
  .submit-button {
    text-align: right;
  }
  @media (max-width: $desktop) {
    padding-right: 0;
    padding-left: 0;
  }
}

.image-container {
  height: $subheaderHeightDesktop;
  width: 100%;
  background-image: url('/assets/counter_head1.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  @media (max-width: $desktop) {
    height: $subheaderHeightMobile;
  }
}
nav {
  width: 100%;
  height: 60px;
  text-align: center;
  .brand-logo {
    position: relative;
  }
}

.floating-button {
  position: absolute;
  top: calc(#{$subheaderHeightDesktop} + 23px);
  right: 60px;
  @media (max-width: $desktop) {
    top: calc(#{$subheaderHeightMobile} + 23px);
  }
}

.table-row td{
  animation: show 1s;
}
.add-buyer-form {
  animation: show 1s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toast {
  background-color: $primary-color;
}
input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}
